@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS VARS FOR CURSOR EFFECT */
html {
  --cursor-color: #cfd0d5;
}

html.dark-mode {
  --cursor-color: #cfd0d5;
}
/* CSS VARS FOR CURSOR EFFECT */

.Kalnia {
  font-family: "Kalnia", sans-serif;
}

body {
  font-family: "Epilogue", sans-serif;
}

.custom-h1 {
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(0, 0%, 30%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfd0d5;
  border-radius: 8px;
}

.line {
  width: 100%;
  height: 8px;
  background-color: #cfd0d5;
}


@layer utilities {
  .pause {
    animation-play-state: paused;
}
  .transition-3s {
    @apply transition-all duration-300 ease-in-out
  }
  .badge {
    @apply flex gap-2 whitespace-nowrap items-center py-2 px-3 border border-stroke rounded-md bg-container text-text
  }

  .scroll {
    @apply relative flex w-full overflow-hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  }
  .scroll-content {
    white-space: nowrap;
  }
  .reverse {
    animation-direction: reverse;
  }
  .loop-delay-1 {
    animation-delay: calc(var(--time)*-1);
  }

  .loop-delay-2 {
      animation-delay: calc(var(--time)/-2);
  }
}

.scroll:hover *{
  animation-play-state: paused;
}

.slick-track {
  display: flex !important;
  align-items: center;
  gap: .5rem;
}
.slick-prev:before, .slick-next:before{
  color: var(--text-color) !important;
}
.slick-dots li button:before {
  color: var(--text-color) !important;
}

@media screen and (max-width: 576px) {
  .slick-dots{
      bottom: -55px !important;
  }
}